:root{
    --brown: #A47251;
    --light-brown: #DD9E59;
    --beige: #F0D8A1;
    --mint: #DCF0C3;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: center;
    gap: 5%;
    padding-top: 2%;
    background-color: var(--beige);
}

button{
    font-weight: bold;
    font-size: 1.5em; 
    color: white;
    border: none;
    background: none;
    transition: background 0.3s ease;
}

button:hover{
    color: grey;
}

.home-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
}

.body-wrapper{
    display: flex;
    gap: 50px;
    margin-top: 3%;
}

.body-wrapper p{
    width: 30vw;
    font-size: 1.5em;
    font-weight: 200;
    margin: 0;
}

.body-wrapper img{
    border-radius: 8px;
}

.text-container{
    display: flex;
    flex-direction: column;
    gap: 1em;
}